/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# variables
# Utility
# Common
# Hero Section
# Feature Section
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# variables
--------------------------------------------------------------*/
:root {
  --maru-font: "Lato", sans-serif;
  --maru-font2: "Jost", sans-serif;
  --maru-heading-font: "Gallery Modern";
  --maru-text: #777777;
  --maru-text-rgb: 119, 119, 119;
  --maru-text-gray: #A3A3A3;
  --maru-text-gray-rgb: 163, 163, 163;
  --maru-base: #FFF032;
  --maru-base-rgb: 255, 240, 50;
  --maru-primary: #F14F26;
  --maru-primary-rgb: 241, 79, 38;
  --maru-gray: #FFFDE8;
  --maru-gray-rgb: 255, 253, 232;
  --maru-white: #fff;
  --maru-white-rgb: 255, 255, 255;
  --maru-black: #181823;
  --maru-black-rgb: 24, 24, 35;
  --maru-black2: #000000;
  --maru-black2-rgb: 0, 0, 0;
  --maru-black3: #23232D;
  --maru-black3-rgb: 35, 35, 45;
  --maru-blue: #6652FF;
  --maru-blue-rgb: 102, 82, 255;
  --section-space: 150px;
}

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/
.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-120 {
  margin-top: 120px;
}

.mt--60 {
  margin-top: -60px;
}

.mt--120 {
  margin-top: -120px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-120 {
  margin-bottom: 120px;
}

.mb--60 {
  margin-bottom: -60px;
}

.mb--120 {
  margin-bottom: -120px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-110 {
  padding-top: 110px;
}

.pt-115 {
  padding-top: 115px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-142 {
  padding-top: 142px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-110 {
  padding-bottom: 110px;
}

.pb-115 {
  padding-bottom: 115px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/
body {
  font-family: var(--maru-font, "Lato", sans-serif);
  color: var(--maru-text, #777777);
  font-size: 16px;
  line-height: 1.625;
  font-weight: 400;
}

body.locked {
  overflow: hidden;
}

a {
  color: var(--maru-base, #FFF032);
  transition: all 400ms ease;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--maru-heading-font, "Gallery Modern");
  color: var(--maru-black, #181823);
}
@media (max-width: 575px) {
  h1 br,
  h2 br,
  h3 br,
  h4 br,
  h5 br,
  h6 br {
    display: none;
  }
}

@media (max-width: 575px) {
  p br {
    display: none;
  }
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.background-base {
  background-color: var(--maru-base, #FFF032);
}

.background-gray {
  background-color: var(--maru-gray, #FFFDE8);
}

.background-black {
  background-color: var(--maru-black, #181823);
}

.maru-text {
  color: var(--maru-text, #777777);
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.section-space {
  padding-top: var(--section-space, 150px);
  padding-bottom: var(--section-space, 150px);
}
@media (max-width: 767px) {
  .section-space {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section-space-top {
  padding-top: var(--section-space, 150px);
}
@media (max-width: 767px) {
  .section-space-top {
    padding-top: 100px;
  }
}
@media (max-width: 575px) {
  .section-space-top {
    padding-top: 80px;
  }
}

.section-space-bottom {
  padding-bottom: var(--section-space, 150px);
}
@media (max-width: 767px) {
  .section-space-bottom {
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .section-space-bottom {
    padding-bottom: 80px;
  }
}

.container-fluid,
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1326px;
  }
}
.row {
  --bs-gutter-x: 24px;
}

.gutter-y-10 {
  --bs-gutter-y: 10px;
}

.gutter-y-15 {
  --bs-gutter-y: 15px;
}

.gutter-y-20 {
  --bs-gutter-y: 20px;
}

.gutter-y-24 {
  --bs-gutter-y: 24px;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

.gutter-y-40 {
  --bs-gutter-y: 40px;
}

.gutter-y-50 {
  --bs-gutter-y: 50px;
}

.gutter-y-60 {
  --bs-gutter-y: 60px;
}

.gutter-y-70 {
  --bs-gutter-y: 70px;
}

.gutter-y-80 {
  --bs-gutter-y: 80px;
}

.logo-retina img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.maru-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none !important;
  padding: 13.5px 28.5px 14.5px;
  background-color: var(--maru-base, #FFF032);
  color: var(--maru-black, #181823);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.375;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.maru-btn::before, .maru-btn::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  background-color: var(--maru-black, #181823);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  z-index: -1;
}
.maru-btn::before {
  left: 0;
  bottom: 0;
}
.maru-btn::after {
  top: 0;
  right: 0;
}
.maru-btn:hover {
  color: var(--maru-white, #fff);
}
.maru-btn:hover::before, .maru-btn:hover::after {
  width: 50%;
  height: 100%;
}
.maru-btn__icon {
  display: inline-flex;
  font-size: 12px;
}
.maru-btn__icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.maru-btn--normal {
  padding: 19px 25.5px;
}
.maru-btn--border {
  padding-top: 12.5px;
  padding-bottom: 13.5px;
  background-color: transparent;
  border: 1px solid var(--maru-black, #181823);
}

.sec-title--center {
  text-align: center;
}
.sec-title__tagline {
  margin-bottom: 20px;
  padding: 7px 28px;
  display: inline-block;
  font-family: var(--maru-font, "Lato", sans-serif);
  font-size: 16px;
  color: var(--maru-primary, #F14F26);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.375;
  background-color: RGBA(var(--maru-primary-rgb, 241, 79, 38), 0.1);
  border-radius: 100px;
}
@media (max-width: 430px) {
  .sec-title__tagline {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
  }
}
.sec-title__title {
  margin: 0;
  font-size: 72px;
  font-weight: 400;
  line-height: 1.138;
}
@media (max-width: 1199px) {
  .sec-title__title {
    font-size: 65px;
  }
}
@media (max-width: 991px) {
  .sec-title__title {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .sec-title__title {
    font-size: 45px;
  }
}
@media (max-width: 575px) {
  .sec-title__title {
    font-size: 43px;
  }
}
@media (max-width: 430px) {
  .sec-title__title {
    font-size: 40px;
  }
}

.post-pagination {
  list-style: none;
  padding: 0;
  margin: 69px 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 1399px) {
  .post-pagination {
    margin-top: 30px;
  }
}
.post-pagination a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
  font-family: var(--maru-font, "Lato", sans-serif);
  color: var(--maru-black, #181823);
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid RGBA(var(--maru-black-rgb, 24, 24, 35), 0.1);
  transition: all 400ms ease;
}
.post-pagination a svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
@media (max-width: 575px) {
  .post-pagination a {
    width: 50px;
    height: 50px;
  }
}
.post-pagination a .post-pagination__icon {
  display: inline-flex;
  font-size: 10px;
  color: var(--maru-black, #181823);
  transition: all 400ms ease;
}
.post-pagination a .post-pagination__icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.post-pagination a:hover {
  color: var(--maru-black, #181823);
  background-color: var(--maru-base, #FFF032);
  border-color: var(--maru-base, #FFF032);
}
.post-pagination a:hover .post-pagination__icon {
  color: var(--maru-black, #181823);
  animation: slideLeft 400ms;
}
.post-pagination a:hover .post-pagination__icon--right {
  animation: slideRight 400ms;
}
.post-pagination li.active a {
  color: var(--maru-white, #fff);
  background-color: var(--maru-base, #FFF032);
  border-color: var(--maru-base, #FFF032);
}
.post-pagination li.active a .post-pagination__icon {
  color: var(--maru-black, #181823);
  animation-play-state: paused;
}

.tabs-box .tabs-content .tab:not(.active-tab) {
  display: none;
}

.bootstrap-select .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.bootstrap-select .dropdown-item.active,
.bootstrap-select .dropdown-item:active {
  background-color: var(--maru-base, #FFF032);
}

.tns-outer .tns-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.tns-outer .tns-controls button {
  width: 45px;
  height: 45px;
  border: 2px solid #f4f4f4;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--maru-text, #777777);
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

.ul-list-one {
  margin-bottom: 0;
}
.ul-list-one li {
  position: relative;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 500;
  color: var(--maru-black, #181823);
}
@media (min-width: 481px) {
  .ul-list-one li {
    font-size: 52px;
  }
}
.ul-list-one li::before {
  content: "\e907";
  color: var(--maru-base, #FFF032);
  font-size: 26px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-family: "azino-icon";
}

.preloader {
  position: fixed;
  background-color: var(--maru-black, #181823);
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9991;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
}
.preloader__image {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60px auto;
  width: 100%;
  height: 100%;
}

/* scroll to top */
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  background-color: var(--maru-black, #181823);
  z-index: 99;
  opacity: 0;
  padding: 6px;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.scroll-top--active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.scroll-top::after {
  position: absolute;
  content: "\e91a";
  font-family: "icomoon" !important;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: var(--maru-base, #FFF032);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.scroll-top__circle path {
  stroke: var(--maru-base, #FFF032);
  stroke-width: 4;
  fill: none;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.maru-owl__carousel--with-shadow .owl-stage-outer {
  overflow: visible;
}
.maru-owl__carousel--with-shadow .owl-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity 500ms ease, visibility 500ms ease;
}
.maru-owl__carousel--with-shadow .owl-item.active {
  opacity: 1;
  visibility: visible;
}

.maru-owl__carousel--basic-nav.owl-carousel .owl-nav {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-nav button {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 9px;
  color: var(--maru-black, #181823);
  background-color: RGBA(var(--maru-black-rgb, 24, 24, 35), 0.1);
  border-radius: 50%;
  transition: all 400ms ease;
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-nav button svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
@media (max-width: 575px) {
  .maru-owl__carousel--basic-nav.owl-carousel .owl-nav button {
    width: 50px;
    height: 50px;
    font-size: 8px;
  }
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-nav button:hover {
  color: var(--maru-black, #181823);
  background-color: var(--maru-base, #FFF032);
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-nav button span {
  border: none;
  outline: none;
  color: inherit;
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot {
  outline: 0;
  border: 0;
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: RGBA(var(--maru-black-rgb, 24, 24, 35), 0.1);
  transition: all 400ms ease;
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot span {
  background-color: transparent;
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot:hover, .maru-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot.active {
  background-color: var(--maru-base, #FFF032);
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot:hover span, .maru-owl__carousel--basic-nav.owl-carousel .owl-dots .owl-dot.active span {
  background-color: transparent;
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-nav.disabled + .owl-dots {
  margin-top: 60px;
}
.maru-owl__carousel--basic-nav.owl-carousel .owl-dots.disabled,
.maru-owl__carousel--basic-nav.owl-carousel .owl-nav.disabled {
  display: none;
}

/* custom cursor */
.custom-cursor-two {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: var(--maru-white, #fff);
  opacity: 0;
  transition: all 500ms ease;
  z-index: 11;
  pointer-events: none;
}
.custom-cursor-two__icon {
  font-size: 22px;
  color: var(--maru-black, #181823);
  display: inline-block;
}
.custom-cursor-two__icon--left {
  position: relative;
  top: -3px;
  transform: rotate(-180deg);
}

.custom-cursor-two-hover:hover + .custom-cursor-two {
  opacity: 1;
}

.ui-datepicker .ui-datepicker-header {
  background-image: none;
  background-color: var(--maru-black, #181823);
  color: var(--maru-white, #fff);
  font-family: var(--maru-font, "Lato", sans-serif);
}

.ui-datepicker-calendar th span {
  font-family: var(--maru-font, "Lato", sans-serif);
}
.ui-datepicker-calendar td {
  background-color: var(--maru-gray, #FFFDE8);
  background-image: none;
  font-family: var(--maru-font, "Lato", sans-serif);
  color: var(--maru-text, #777777);
}
.ui-datepicker-calendar td a {
  border-color: var(--maru-black, #181823);
  background-color: var(--maru-gray, #FFFDE8);
  background-image: none;
}
.ui-datepicker-calendar .ui-state-default,
.ui-datepicker-calendar .ui-widget-content .ui-state-default,
.ui-datepicker-calendar .ui-widget-header .ui-state-default {
  border-color: var(--maru-black, #181823);
  background-color: var(--maru-gray, #FFFDE8);
  background-image: none;
  color: var(--maru-text, #777777);
  padding: 10px 5px;
  text-align: center;
  line-height: 1em;
}
.ui-datepicker-calendar .ui-state-default:hover,
.ui-datepicker-calendar .ui-widget-content .ui-state-default:hover,
.ui-datepicker-calendar .ui-widget-header .ui-state-default:hover {
  color: var(--maru-white, #fff);
  background-color: var(--maru-base, #FFF032);
}
.ui-datepicker-calendar .ui-state-highlight,
.ui-datepicker-calendar .ui-widget-content .ui-state-highlight,
.ui-datepicker-calendar .ui-widget-header .ui-state-highlight {
  color: var(--maru-white, #fff);
  background-color: var(--maru-base, #FFF032);
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  background-image: none;
  background-color: var(--maru-white, #fff);
  color: var(--maru-black, #181823);
}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover {
  background-color: var(--maru-base, #FFF032);
  color: var(--maru-white, #fff);
  top: 2px;
}

.ui-datepicker .ui-datepicker-prev:hover {
  left: 2px;
}

.ui-datepicker .ui-datepicker-next:hover {
  right: 2px;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  background: var(--maru-base, #FFF032);
  box-shadow: var(--maru-base, #FFF032) 0 1px 3px 0 inset;
  color: var(--maru-white, #fff);
  font-weight: 700;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  background: var(--maru-base, #FFF032) !important;
  color: var(--maru-white, #fff) !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
  background-color: var(--maru-black, #181823);
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (min-width: 1200px) {
  .hero-section {
    padding-top: 130px;
    padding-bottom: 166px;
  }
}
.hero-section__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}
.hero-section .container {
  position: relative;
}
.hero-section__logo {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hero-section__content {
  text-align: center;
}
@media (min-width: 992px) {
  .hero-section__content {
    text-align: left;
  }
}
.hero-section__title {
  margin: 0;
  font-size: 38px;
  line-height: 1.23;
  color: var(--maru-white, #fff);
  text-transform: capitalize;
  font-weight: 600;
  margin-top: 80px;
  margin-bottom: 20px;
}
@media (min-width: 375px) {
  .hero-section__title {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .hero-section__title {
    margin-top: 186px;
    font-size: 60px;
  }
}
.hero-section__text {
  margin: 0 0 30px;
  color: var(--maru-text, #777777);
  font-weight: 500;
}
@media (min-width: 1200px) {
  .hero-section__text {
    margin-bottom: 52px;
    font-size: 20px;
    line-height: 36px;
  }
}
.hero-section__text br {
  display: none;
}
@media (min-width: 768px) {
  .hero-section__text br {
    display: inherit;
  }
}
.hero-section .maru-btn::before, .hero-section .maru-btn::after {
  background-color: var(--maru-primary, #F14F26);
}
.hero-section__images {
  display: none;
}
.hero-section__images img {
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0px 4.10679px 41.0679px 5.13348px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1200px) {
  .hero-section__images {
    display: block;
  }
}
.hero-section__arrow {
  width: 158px;
  height: 90px;
  background-image: url(../images/maru-landing/hero-arrow-1.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 177px;
  left: 25%;
  -webkit-animation-name: float-bob-y-2;
  animation-name: float-bob-y-2;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  display: none;
}
@media (min-width: 1200px) {
  .hero-section__arrow {
    display: block;
  }
}
@media (min-width: 1400px) {
  .hero-section__arrow {
    left: 27%;
  }
}
@media (min-width: 1500px) {
  .hero-section__arrow {
    left: 29%;
  }
}
@media (min-width: 1600px) {
  .hero-section__arrow {
    left: 30%;
  }
}
@media (min-width: 1700px) {
  .hero-section__arrow {
    left: 32.8%;
  }
}
.hero-section__badge {
  width: 133px;
  height: 133px;
  background-image: url(../images/maru-landing/hero-badge-1.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 70px;
  left: 49.5%;
  -webkit-animation: sunMove 10s linear infinite;
  animation: sunMove 10s linear infinite;
  display: none;
}
@media (min-width: 1200px) {
  .hero-section__badge {
    display: block;
  }
}
@media (min-width: 1600px) {
  .hero-section__badge {
    top: 80px;
  }
}

@-webkit-keyframes sunMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes sunMove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  75% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes float-bob-y-2 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
    transform: translateY(10px) translateX(10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
@keyframes float-bob-y-2 {
  0% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
    transform: translateY(10px) translateX(10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}
@keyframes slideLeft {
  49% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
/*--------------------------------------------------------------
# Feature Section
--------------------------------------------------------------*/
.features-two {
  background-color: #F4F0ED;
  padding-top: 80px;
  padding-bottom: 70px;
}
@media (max-width: 991px) {
  .features-two {
    padding-bottom: 40px;
  }
}
.features-two__box {
  text-align: center;
  position: relative;
}
@media (max-width: 991px) {
  .features-two__box {
    margin-bottom: 30px;
  }
}
.features-two__box img {
  max-height: 52px;
  display: inline-block;
  transition: all 500ms linear;
  transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1);
}
.features-two__box:hover img {
  transform: scale(0.9);
}
.features-two__title {
  font-family: var(--maru-font, "Lato", sans-serif);
  font-size: 20px;
  line-height: 36px;
  color: var(--maru-black, #181823);
  margin: 22px 0 0;
  font-weight: 700;
}

/*--------------------------------------------------------------
# Demo Section
--------------------------------------------------------------*/
.demos-one {
  position: relative;
  padding: 120px 0 90px;
}
@media (max-width: 767px) {
  .demos-one {
    padding: 80px 0 50px;
  }
}
.demos-one__single {
  margin: 0 0 30px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  position: relative;
  text-align: center;
  background-color: var(--maru-white, #fff);
  box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.1);
}
.demos-one__single:hover {
  transform: translateY(-10px);
}
.demos-one__single:hover .demos-one__buttons {
  transform: scale(1, 1);
  opacity: 1;
  transform-origin: top center;
}
.demos-one__single:hover .demos-one__image img {
  filter: blur(2px);
}
.demos-one__image {
  position: relative;
}
.demos-one__image img {
  max-width: 100%;
  transition: filter 500ms ease;
  filter: blur(0px);
}
.demos-one__buttons {
  background-color: rgba(var(--maru-black-rgb, 24, 24, 35), 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: scale(1, 0);
  transition: transform 500ms ease, opacity 600ms linear;
  transform-origin: bottom center;
  opacity: 0;
}
.demos-one__buttons .maru-btn {
  min-width: 165px;
  font-size: 15px;
}
.demos-one__text {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 32px;
}
.demos-one__text__title {
  margin: 0;
  font-family: var(--maru-font, "Lato", sans-serif);
  font-size: 20px;
  line-height: 30px;
  color: var(--maru-black, #181823);
  font-weight: 700;
}

/*--------------------------------------------------------------
#  Feature Section 02
--------------------------------------------------------------*/
.features-one {
  background-color: #F4F0ED;
  padding: 107px 0 70px;
}
@media (max-width: 767px) {
  .features-one {
    padding: 70px 0 30px;
  }
}
.features-one__title {
  font-size: 50px;
  color: var(--maru-black, #181823);
  text-transform: capitalize;
  font-weight: 700;
  margin: 0 0 63px;
}
@media (max-width: 767px) {
  .features-one__title {
    font-size: 35px;
    margin-bottom: 50px;
  }
}
.features-one__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 1199px) {
  .features-one__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 991px) {
  .features-one__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 767px) {
  .features-one__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.features-one__box {
  text-align: center;
  position: relative;
  margin: 0 0 46px;
}
@media (max-width: 767px) {
  .features-one__box {
    margin-left: auto;
    margin-right: auto;
  }
}
.features-one__box__image {
  width: 131px;
  height: 135px;
  background-color: #F4F0ED;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.features-one__box__image img {
  max-height: 121px;
  display: inline-block;
  transition: all 500ms linear;
  transition-delay: 0s;
  transition-delay: 0s;
  transform: scale(1);
}
.features-one__box__title {
  font-family: var(--maru-font, "Lato", sans-serif);
  max-width: 131px;
  font-size: 15px;
  color: var(--maru-black, #181823);
  font-weight: 600;
  margin: 22px 0 0;
}
.features-one__box:hover .features-one__box__image img {
  transform: scale(0.9);
}

/*--------------------------------------------------------------
#  Footer Section
--------------------------------------------------------------*/
.main-footer {
  background-color: var(--maru-black, #181823);
  position: relative;
  padding-top: 108px;
}
@media (max-width: 767px) {
  .main-footer {
    padding-top: 70px;
  }
}
.main-footer .container {
  position: relative;
  z-index: 2;
}
.main-footer__title {
  margin: 0 0 20px;
  font-size: 35px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--maru-white, #fff);
}
@media (min-width: 1200px) {
  .main-footer__title {
    font-size: 50px;
  }
}
.main-footer__text {
  margin: 0 0 27px;
  font-weight: 500;
  color: var(--maru-white, #fff);
}
@media (min-width: 1200px) {
  .main-footer__text {
    font-size: 26px;
  }
}
.main-footer .maru-btn::before, .main-footer .maru-btn::after {
  background-color: var(--maru-primary, #F14F26);
}
.main-footer__copyright {
  position: relative;
  border-top: 1px solid rgba(var(--maru-black-rgb, 24, 24, 35), 0.1);
  margin: 109px 0 0;
  padding: 33px 0 33px;
}
@media (max-width: 767px) {
  .main-footer__copyright {
    margin-top: 50px;
    padding: 23px 0 22px;
  }
}
.main-footer__copyright p {
  margin: 0;
  font-family: var(--maru-font, "Lato", sans-serif);
  font-weight: 500;
  font-size: 16px;
  color: var(--maru-white, #fff);
  line-height: 30px;
}
/*# sourceMappingURL=maru-landing.css.map */
